<app-navbar></app-navbar>
<div class="movies-container pt-2">
  <h2>My Favorite Movies</h2>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="movie-card col-3 px-0" *ngFor="let movie of favoriteMovies">
        <img src="https://image.tmdb.org/t/p/original/{{ movie.posterPath }}" [alt]="movie.title" class="poster" />
        <div class="movie-info">
          <h3 class="title">{{ movie.title }}</h3>
          <p class="overview">{{ movie.overview }}</p>
          <div class="buttons">
            <button (click)="removeFavorite(movie.movieId)" class="btn btn-danger m-1">Remove</button>
            <a class="btn btn-m btn-warning m-1" routerLink="/movie/{{movie.movieId}}">See details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
