<section class="register">
  <div class="container register-container p-4 m-4">
    <h3 class="text-white text-center mb-4 fw-bold">Create account</h3>
    <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      <div class="form-outline mb-4">
        <label class="form-label text-white fw-bold" for="form2Example1">* Email</label>
        <input type="email" id="form2Example1" class="form-control" placeholder="Introduce your email" formControlName="email"/>
          <span class="helper-text text-white" data-error="wrong" data-success="right">* Email is
            required</span>
      </div>
      <div class="form-outline mb-4">
        <label class="form-label text-white fw-bold" for="form2Example2">* Password</label>
        <input type="password" id="form2Example2" class="form-control" placeholder="Introduce your password"  formControlName="password"/>
          <span class="helper-text text-white" data-error="wrong" data-success="right">* Password is required.
          Minimum length 6 characters</span>
      </div>
      <div class="buttons mb-3 w-100">
        <input class="btn btn-danger sign-in w-100" [disabled]="!formRegister.valid" type="submit" value="Register">
      </div>
      <div class="register-text">
          <span class="text-white text-center fw-bold">I have a account! <a class="text-decoration-underline link-light" routerLink="/login">Log in</a></span>
      </div>
    </form>
  </div>
</section>
