$white: #ffffff;
$white-transparent: #ffffff5d;
$red: #E50914;
$background-carousel: #181818ab;

.citem {
  position: relative;
  height: 700px;
}

.xyz {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 100%);
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cdescription {
  z-index: 2;
  color: white;
  margin-left: 3rem;
  align-self: center;

  p {
    text-align: justify;
  }
}

.c-description-release-date{
  color: #24F324FF;
  font-size: 15px;
  font-weight: bold;
}

.banner-slider {
  margin-top: 5rem;
}

.carousel-inner {
  height: 700px;

  .carousel-item {
    img {
      width: 75%;
      object-fit: cover;
    }
  }
}

.carousel-caption {
  background-color: $background-carousel;
  h2 {
    color: $white;
    font-weight: bold;
    font-size: 30px;
  }
  p {
    color: $white;
  }
}

.carousel-control-prev {
  align-items: flex-end;
}

.carousel-control-next {
  align-items: flex-end;
}

@media (max-width: 1000px) {
  .banner-slider {
    display: none;
  }
}
