$color_1: white;
$background-color_1: rgba(229, 10, 21, 0.95);


form {
  button {
    &:hover {
      background-color: $background-color_1;
      color: $color_1;
    }
  }
}

.btn-close {
  background-color: white;
}

img {
  width: 100%;
  cursor: pointer;
}

h3,
h5 {
  color: $color_1;
}

.result {
  margin: 0 auto;
}

.form-control {
  background-color: #0000;
  color: white;

  &:focus {
    border-color: #7a050b;
    box-shadow: 0 0 0 .25rem rgba(229, 10, 21, 0.25)
  }
}


.modal-header {
  background-color: rgb(24, 24, 24);
}

.modal-body {
  background-color: #1d1c1c;
}

