$color_netflix: #e50914;
$color_transparent_black: rgba(14, 14, 14, 0.7);

.login {
  overflow: auto;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/login-background.jpg);
  width: 100%;
  height: 100%;

  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.login-title{
  color: $color_netflix;
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.login-container {
  background-color: $color_transparent_black;
  border-radius: 2rem;
  width: 35%;
  min-width: 325px;
}

.helper-text {
  font-size: 11px;
}

